html, body {
    background-color: black;
}

#container {
    font-family: 'Courier New', Courier, monospace;
    color: gainsboro;
    text-align: center;
    font-size: 2vh;
}

#content {
    padding-top: 5vh;
}

li {
    list-style-type: none;
}

a:link, a:visited, a:hover, a:active {
    color: gainsboro;
}